{
  "open": [
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:10:28.957Z"
    },
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:15:50.542Z"
    },
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:16:55.874Z"
    },
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:17:00.906Z"
    },
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:17:10.281Z"
    },
    {
      "channelId": "999",
      "user": "userid",
      "service": "nuke",
      "created": "2026-07-19T17:18:03.475Z"
    }
  ]
}